<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div style="margin-right:0%; margin-top: 5%; margin-left: 5%;" >
      <a href="index" class="app-brand-link" >
        <img src="../assets/img/logo/logo.jpg" alt="" style="width: 25%; height: 27%;">
        <span class="app-brand-text demo menu-text fw-bolder ms-3" style="font-size: 150%;">โรงพยาบาลพนม</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item" id="dash">
        <a href="index" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-item" id="userall">
        <a class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">จัดการข้อมูลสมาชิก</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="useradmin">
            <a href="page-admin" class="menu-link">
              <div data-i18n="Without menu">ข้อมูลเเอดมิน</div>
            </a>
          </li>
          <li class="menu-item" id="userofficer">
            <a href="page-officer" class="menu-link">
              <div data-i18n="Without navbar">ข้อมูลเจ้าหน้าที่</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item" id="fromPatientData">
        <a class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">จัดการข้อมูลผู้ป่วย</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="patientData">
            <a href="page-patient" class="menu-link">
              <div data-i18n="Without menu">ข้อมูลประวัติผู้ป่วย</div>
            </a>
          </li>
          <li class="menu-sub" id="userofficer">
            <a href="#" class="menu-link">
              <div data-i18n="Without navbar">ข้อมูลเเพ้ยา</div>
            </a>
          </li>
        </ul>
      </li>


      
      <li class="menu-item" id="fromPatient">
        <a class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Layouts">ฟอร์มกรอกข้อมูล</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="patient">
            <a href="page-patient-form" class="menu-link">
              <div data-i18n="Without menu">ฟอร์มกรอกข้อมูลผู้ป่วย</div>
            </a>
          </li>

          <li class="menu-item" id="drug">
            <a href="page-drugs-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลยา</div>
            </a>
          </li>

          <li class="menu-item" id="drughty">
            <a href="page-drughty-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลแพ้ยา</div>
            </a>
          </li>

          
          <li class="menu-item" id="disease">
            <a href="page-disease-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลเพิ่มโรค</div>
            </a>
          </li>

          <li class="menu-item" id="morbidities">
            <a href="page-morbidities-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลโรคร่วม</div>
            </a>
          </li>

          <li class="menu-item" id="appointment">
            <a href="page-appointment-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลนัดตรวจ</div>
            </a>
          </li>
          
          <li class="menu-item" id="appointmentDisease">
            <a href="page-appointmentDisease-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลตรวจโรค</div>
            </a>
          </li>

          
          <!-- <li class="menu-item" id="userofficer">
            <a href="page-drugs-form" class="menu-link">
              <div data-i18n="Without navbar">ฟอร์มกรอกข้อมูลนัดรับยา</div>
            </a>
          </li> -->

        </ul>
      </li>

  </ul>

    <div style="text-align: center; padding: 10%;">
      <button type="button" class="btn btn-danger a">ออกจากระบบ</button>
    </div>

  </aside>