<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<%-include('../html/head.ejs'); %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%-include('./menu.ejs'); %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

          <!-- Navbar -->
          <%-include('./nav.ejs'); %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
           
           
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div>
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /
                  </span>เพิ่มเเอดมิน</h4>
              </div>
              <div class="card mb-4">
                <!-- <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">Basic Layout</h5>
                  <small class="text-muted float-end">Default label</small>
                </div> -->
                <div class="card-body">
                  
                    <div class="mb-3">
                      <label for="a1" class="form-label font-size medium" style="font-size: medium; font-weight: bold;">คำนำหน้า</label>
                      <select class="form-select" id="a1" aria-label="Default select example">
                        <option selected value="" disabled>กรุณาเลือกคำนำหน้า</option>
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="a2"style="font-size: medium; font-weight: bold;">ชื่อจริง</label>
                      <input type="text" class="form-control" id="a2" placeholder="ชื่อ ..." />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="a3" style="font-size: medium; font-weight: bold;">นามสกุลจริง</label>
                      <input type="text" class="form-control" id="a3" placeholder="นามสกุล ..." />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="a4" style="font-size: medium; font-weight: bold;">ตำเเหน่ง</label>
                      <input type="text" class="form-control" id="a4" placeholder="อาชีพ ..." />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="a5" style="font-size: medium; font-weight: bold;">ชื่อผู้ใช้งาน</label>
                      <input type="text" class="form-control" id="a5" placeholder="ชื่อผู้ใช้งาน ..." />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="a6" style="font-size: medium; font-weight: bold;">รหัสผ่าน</label>
                      <input type="password" class="form-control" id="a6" placeholder="รหัสผ่าน ..." />
                    </div>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                  
                </div>
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <%-include('../html/script.ejs'); %>
    <script  type="module" src="../page-js/admin/page-admin-add.js"></script>
  </body>
</html>
