<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>ระบบข้อมูลผู้ป่วย HIV โรงพยาลพนม</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" href="../assets/img/logo/logo.jpg"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo/logo.jpg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm&family=Sarabun:wght@200&display=swap" rel="stylesheet">


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <style>
      body{
              font-family: 'Charm', cursive;
              font-family: 'Sarabun', sans-serif;
      }    
      </style>
      <style>
          div{
              font-family: 'Charm', cursive;
              font-family: 'Sarabun', sans-serif;
          }    
      </style>
      <style>
          li{
              font-family: 'Charm', cursive;
              font-family: 'Sarabun', sans-serif;
          }    
      </style>
      <style>
          p{
              font-family: 'Charm', cursive;
              font-family: 'Sarabun', sans-serif;
          }    
      </style>
      <style>
          h1,h2,h3,h4,h5{
              font-family: 'Charm', cursive;
              font-family: 'Sarabun', sans-serif;
          }    
      </style>
  </head>